<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/css/master.css" />
    <link rel="stylesheet" href="/static/css/response.css" />
  </head>
  <body>
    <form action="/dashboard/changePassword" method="post">
      <h3>CHANGE PASSWORD</h3>
      <input
        name="username"
        type="text"
        value="{{.Username}}"
        class="field left"
        readonly
      />
      <br />
      <div>
        <input type="text" name="password" placeholder="New Password" />
        <input type="submit" name="submit" value="Change" />
      </div>
    </form>
  </body>
</html>

<br /><br /><br />
<a class="back" href="/dashboard">Back</a>
