<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/css/master.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/assets/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
</head>

<body>
  <div class="content">
    <div class="box">
      <h3>FILES</h3>
      <div class="box-content">
        {{range .Files}}
        <div class='entry'>
          <div class="left">
            <span class="title">{{.Filename}}</span>
            <div class="info">
              <span>{{.Author}}</span>
              <span>{{formatDate .Timestamp}}</span>
              {{if .Restricted}}
              <span class="material-icons-outlined md-em">lock</span>
              {{end}}
            </div>
            <a class="link" href="{{$.Url}}{{.Short}}">{{$.Url}}{{.Short}}</a>
          </div>
          <div class="right buttons">
            <div>
              <a href="{{$.Url}}dashboard/details/{{.Short}}"><span class="material-icons-outlined">info</span></a>
              <a href="{{$.Url}}dashboard/switchRestrict/{{.Short}}"><span class="material-icons-outlined">key</span></a>
            </div>
            <div>
              <a href="{{$.Url}}dashboard/moveToBlind/{{.Short}}"><span class="material-icons-outlined">visibility_off</span></a>
              <a href="{{$.Url}}dashboard/removeFile/{{.Short}}"><span class="material-icons-outlined">delete</span></a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>

    <div class="box">
      <h3>USERS</h3>
      <div class="box-content">
        {{range .Users}}
        <div class='entry'>
          <div class="left">
            <span class="title">{{.Username}}</span>
            <div class="info">
              {{if .Root}}<span>Root</span>{{end}}
              {{if .Blind}}<span>Blind</span>{{end}}
              {{if .Restricted}}<span>Restricted</span>{{end}}
              {{if .Onetime}}<span>Onetime</span>{{end}}
            </div>
          </div>
          <div class="buttons">
            <div>
              <a href="{{$.Url}}dashboard/changePerms/{{.Username}}"><span class="material-icons-outlined">settings</span></a>
              <a href="{{$.Url}}dashboard/changePassword/{{.Username}}"><span class="material-icons-outlined">password</span></a>
              <a href="{{$.Url}}dashboard/removeUser/{{.Username}}"><span class="material-icons-outlined">delete</span></a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
      <div class="buttons addUserButton">
        <a href="{{$.Url}}dashboard/addUser"><span class="material-icons-outlined">add</span></a>
      </div>
    </div>

    <div class="box">
      <h3>PASTES</h3>

        <div class="box-content">
          {{range .Pastes}}
            <div class="entry removeBottomRadius">
              <div class="left">
                <span class="title"><a class="link" href="{{$.Url}}{{.Short}}">{{$.Url}}{{.Short}}</a></span>
                <div class="info">
                  <span>{{.Author}}</span>
                  <span>{{formatDate .Timestamp}}</span>
                  {{if .Restricted}}
                  <span class="material-icons-outlined md-em">lock</span>
                  {{end}}
                </div>
              </div>

              <div class="buttons">
                <div>
                  <a href="{{$.Url}}dashboard/editPaste/{{.Short}}"><span class="material-icons-outlined">edit</span></a>
                  <!-- <a href="{{$.Url}}raw/{{.Short}}"><span class="material-icons-outlined">raw_on</span></a> -->
                  <a href="{{$.Url}}dashboard/switchRestrict/{{.Short}}"><span class="material-icons-outlined">key</span></a>
                  <a href="{{$.Url}}dashboard/removePaste/{{.Short}}"><span class="material-icons-outlined">delete</span></a>
                </div>
              </div>
            </div>
            <div class="pasteText">{{.Text}}</div>
          {{end}}
        </div>

    </div>
  </div>

  <div class="sidebar">
    <a href="/logout">Logout</a>
    <a href="/">Home</a>
  </div>
</body>

</html>
