<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paste</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/paste.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="entry removeBottomRadius">
            <div class="left">
              <span class="title">{{$.Url}}{{.Paste.Short}}</span>
              <div class="info">
                <span>{{.Paste.Author}}</span>
                <span>{{formatDate .Paste.Timestamp}}</span>
                {{if .Paste.Restricted}}
                <span class="material-icons-outlined md-em">lock</span>
                {{end}}
              </div>
            </div>

            <div class="buttons">
              <div>
                <a href="{{$.Url}}dashboard/editPaste?short={{.Paste.Short}}"><span class="material-icons-outlined">edit</span></a>
                <a href="{{$.Url}}raw/{{.Paste.Short}}"><span class="material-icons-outlined">raw_on</span></a>
                <a href="{{$.Url}}dashboard/switchRestrict?short={{.Paste.Short}}"><span class="material-icons-outlined">key</span></a>
                <a href="{{$.Url}}dashboard/removePaste?short={{.Paste.Short}}"><span class="material-icons-outlined">delete</span></a>
              </div>
            </div>
        </div>
        
        <div class="pasteText">
            {{.Paste.Text}}
        </div>
    </div>
</body>
</html>
