.box {
    position: relative;
    top: 8vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.box .entry {
    margin-top: 1em;
}

.pasteText {
    font-family: "Sometype Mono";
    font-size: 0.9em;
    padding: 0.8em;
}