url: https://example.com/ # needs / at the end
port: "8080" # as string
dbtype: <database type> # eg. mysql, no other database is implemented
dbusername: <database username>
dbpassword: <database password>
dbaddress: tcp(<ip>:<port>)/<database>
jwtkey: secret # key to encrypt jwt keys
shortlength: 5 # length of the download shorts
uploadLimit: 2048 # in MB
username: go # default username
password: upload # default password