<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/css/master.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/assets/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
</head>

<body>
  <div class="content">
    <div class="box">
      <h3>FILES</h3>
      <div class="box-content">
        {{range .Files}}
        <div class='entry'>
          <div class="left">
            <span class="title">{{.File}}</span>
            <div class="info">
              <span>{{.Author}}</span>
              <span>{{formatDate .Timestamp}}</span>
              {{if .Restricted}}
              <span class="material-icons-outlined md-em">lock</span>
              {{end}}
            </div>
            <a class="link" href="{{$.Url}}{{.Short}}">{{$.Url}}{{.Short}}</a>
          </div>
          <div class="right buttons">
            <div>
              <a href="{{$.Url}}dashboard/details?short={{.Short}}"><span class="material-icons-outlined">info</span></a>
              <a href="{{$.Url}}dashboard/switchRestrict?short={{.Short}}"><span class="material-icons-outlined">key</span></a>
            </div>
            <div>
              <a href="{{$.Url}}dashboard/moveToBlind?short={{.Short}}"><span class="material-icons-outlined">visibility_off</span></a>
              <a href="{{$.Url}}dashboard/removeFile?short={{.Short}}"><span class="material-icons-outlined">delete</span></a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>

    <div class="box">
      <h3>USERS</h3>
      <div class="box-content">
        {{range .Users}}
        <div class='entry'>
          <div class="left">
            <span class="title">{{.Username}}</span>
            <div class="info">
              {{if .Root}}<span>Root</span>{{end}}
              {{if .Blind}}<span>Blind</span>{{end}}
              {{if .Restricted}}<span>Restricted</span>{{end}}
              {{if .Onetime}}<span>Onetime</span>{{end}}
            </div>
          </div>
          <div class="buttons">
            <a href="{{$.Url}}dashboard/removeUser?username={{.Username}}"><span class="material-icons-outlined">delete</span></a>
          </div>
        </div>
    {{end}}
      </div>
    </div>

    <div class="box">
      <h3>MANAGE USERS</h3>

      <details>
        <summary class="summaryHeader"><span>CREATE USER</span></summary>
        <div class="box-content">
          <b>Root</b>: Can see and use this page<br>
          <b>Blind</b>: Can upload files blind, different directory and not in database<br>
          <b>Restricted</b>: Can upload files that need login to download<br>
          <b>Onetime</b>: User will be removed after uploading a file<br>
          <br>
          <form class="centerForm" action="/dashboard/addUser" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="password" placeholder="Password" required>
            <div>
              <input type="checkbox" name="root" value="root" id="root">
              <label for="root">Root</label>
              <input type="checkbox" name="blind" value="blind" id="blind">
              <label for="blind">Blind</label>
            </div>
            <div>
              <input type="checkbox" name="restricted" value="restricted" id="restricted">
              <label for="restricted">Restricted</label>
              <input type="checkbox" name="onetime" value="onetime" id="onetime">
              <label for="onetime">Onetime</label>
            </div>
            <input type="submit" name="submit" value="Create">
          </form>
        </div>
      </details>

      <details>
        <summary class="summaryHeader"><span>CHANGE PASSWORD</span></summary>
        <div class="box-content">
          <form class="centerForm" action="/dashboard/changePassword" method="post">
            <select name="username" required>
              {{range .Users}}
                  <option value="{{.Username}}">{{.Username}}</option>
              {{end}}
            </select>
            <br>
            <div>
              <input type="text" name="password" placeholder="New Password">
              <input type="submit" name="submit" value="Change">
            </div>
          </form>
        </div>
      </details>

      <details>
        <summary class="summaryHeader"><span>CHANGE PERMISSIONS</span></summary>
        <div class="box-content">
          <form class="centerForm" action="/dashboard/changePerms" method="post">
            <select name="username" required>
              {{range .Users}}
                  <option value="{{.Username}}">{{.Username}}</option>
              {{end}}
            </select>
            <br>
            <div>
              <input type="checkbox" name="root" value="root" id="root">
              <label for="root">Root</label>
              <input type="checkbox" name="blind" value="blind" id="blind">
              <label for="blind">Blind</label>
            </div>
            <div>
              <input type="checkbox" name="restricted" value="restricted" id="restricted">
              <label for="restricted">Restricted</label>
              <input type="checkbox" name="onetime" value="onetime" id="onetime">
              <label for="onetime">Onetime</label>
            </div>
            <input type="submit" name="submit" value="Change">
          </form>
        </div>
      </details>

    </div>
  </div>

  <div class="sidebar">
    <a href="/logout">Logout</a>
    <a href="/">Home</a>
  </div>
</body>

</html>
