<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Manage</title>
  <link rel="stylesheet" href="/static/css/master.css">
  <link rel="stylesheet" href="/static/css/manage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/assets/favicon.ico">
</head>

<body>
  <div class="content">
    <div class="box">
      <h3>Files</h3>
      <div class="box-content">
        <form action="/manage/filterUser" method="post">
          Filter per user: <br>
          <select name="username" required>
            {{range .Users}}
                <option value="{{.Username}}">{{.Username}}</option>
            {{end}}
          </select>
          <input type="submit" name="submit" value="Filter">
        </form>
        {{range .Files}}
            <div class='entry'>
                <b>File</b>: {{.File}}<br>
                <b>Author</b>: {{.Author}}<br>
                <b>Timestamp</b>: {{.Timestamp}}<br>
                <b>Restricted</b>: {{.Restricted}}<br>
                <b>Link</b>: <a href="{{$.Url}}{{.Short}}">{{$.Url}}{{.Short}}</a><br>
                <a href='{{$.Url}}manage/details?short={{.Short}}'>Details</a> |
                <a href='{{$.Url}}manage/moveToBlind?short={{.Short}}'>Move to blind</a> |
                <a href='{{$.Url}}manage/removeFile?short={{.Short}}'>Remove File</a>
            </div>
        {{end}}
      </div>
    </div>
  </div>

  <div class="sidebar">
    <a href="/logout">Logout</a>
    <a href="/manage">Back</a>
  </div>
</body>
</html>
